body{
	margin: 0;
	font-family: 'Permanent Marker', cursive;
	line-height: 13px;
	font-size: 15px;
}
header{
	background-color: #2212d2;
	text-align: center;
	padding-top: 30px; 
	padding-bottom: 10px;
}

header h1{
	color: #ca2183;
	font-size: 45px
}
main h2{
	color: #2212d2;
	font-size: 30px;
	margin: 40px 0px 15px
}

header img{
	border-radius: 110px;
	width: 200px;
	border: 5px solid #ca2183;
}

main{
	max-width: 800px;
	padding: 0 25px
}

main img{
	max-width: 100%
}
a{
	color: #ca2183;
}
	a:hover{
		color: #7121ca;
	}
	p.caption{
		color: #B2BABB;
		font-size: 13px;
		font-style: italic;margin-top: 0
	}
